In [1]:
import os
from torch.utils.data import Dataset
import pandas as pd
from cub_tools.transforms import makeDefaultTransforms

In [2]:
annotations_file = "data/annotations/list.txt"
img_dir = "data/images"

In [3]:
img_labels = pd.read_csv(annotations_file, header=None, skiprows=6, delim_whitespace=' ', names=['Class Name ID','Class ID','Species ID','Breed ID'])
img_labels['Class Name'] = img_labels['Class Name ID'].str.rsplit('_', n=1, expand=True)[0]

In [4]:
img_labels

             Class Name ID  Class ID  Species ID  Breed ID         Class Name
0           Abyssinian_100         1           1         1         Abyssinian
1           Abyssinian_101         1           1         1         Abyssinian
2           Abyssinian_102         1           1         1         Abyssinian
3           Abyssinian_103         1           1         1         Abyssinian
4           Abyssinian_104         1           1         1         Abyssinian
...                    ...       ...         ...       ...                ...
7344  yorkshire_terrier_96        37           2        25  yorkshire_terrier
7345  yorkshire_terrier_97        37           2        25  yorkshire_terrier
7346  yorkshire_terrier_98        37           2        25  yorkshire_terrier
7347  yorkshire_terrier_99        37           2        25  yorkshire_terrier
7348   yorkshire_terrier_9        37           2        25  yorkshire_terrier

[7349 rows x 5 columns]

In [5]:
list(img_labels['Class Name'].unique())

['Abyssinian',
 'american_bulldog',
 'american_pit_bull_terrier',
 'basset_hound',
 'beagle',
 'Bengal',
 'Birman',
 'Bombay',
 'boxer',
 'British_Shorthair',
 'chihuahua',
 'Egyptian_Mau',
 'english_cocker_spaniel',
 'english_setter',
 'german_shorthaired',
 'great_pyrenees',
 'havanese',
 'japanese_chin',
 'keeshond',
 'leonberger',
 'Maine_Coon',
 'miniature_pinscher',
 'newfoundland',
 'Persian',
 'pomeranian',
 'pug',
 'Ragdoll',
 'Russian_Blue',
 'saint_bernard',
 'samoyed',
 'scottish_terrier',
 'shiba_inu',
 'Siamese',
 'Sphynx',
 'staffordshire_bull_terrier',
 'wheaten_terrier',
 'yorkshire_terrier']

0             Abyssinian_100.jpg
1             Abyssinian_101.jpg
2             Abyssinian_102.jpg
3             Abyssinian_103.jpg
4             Abyssinian_104.jpg
                  ...
7344    yorkshire_terrier_96.jpg
7345    yorkshire_terrier_97.jpg
7346    yorkshire_terrier_98.jpg
7347    yorkshire_terrier_99.jpg
7348     yorkshire_terrier_9.jpg
Name: Class Name ID, Length: 7349, dtype: object

In [6]:
import sys
sys.path.insert(1, 'tools')
from tools.data import OxfordPetsDataset

In [7]:
transforms = makeDefaultTransforms()

In [8]:
dataset = OxfordPetsDataset(annotations_file="data/annotations/trainval.txt", img_dir="data/images", skiprows=0, transform=transforms['train'])

In [9]:
dataset.__getitem__(idx=0)

(tensor([[[-0.0116, -0.1657, -0.4054,  ...,  2.1633,  1.9578,  1.8037],
          [ 0.1083, -0.0116, -0.1828,  ...,  2.0434,  2.0605,  2.0605],
          [-0.0287, -0.0287, -0.0116,  ...,  1.9235,  2.0092,  2.0605],
          ...,
          [-0.0801, -0.1657, -0.2684,  ...,  1.4954,  1.4098,  1.3584],
          [-0.1314, -0.1828, -0.2513,  ...,  1.5297,  1.4440,  1.3927],
          [ 0.0056, -0.0629, -0.1657,  ...,  1.4783,  1.4954,  1.5125]],

         [[-0.3901, -0.4776, -0.5826,  ...,  1.7283,  1.4832,  1.3256],
          [-0.4251, -0.4251, -0.3901,  ...,  1.5882,  1.5532,  1.5357],
          [-0.6702, -0.5126, -0.2850,  ...,  1.4482,  1.4832,  1.5007],
          ...,
          [-0.8277, -0.8978, -1.0028,  ...,  1.7808,  1.7108,  1.6758],
          [-0.8627, -0.9153, -0.9853,  ...,  1.7808,  1.7283,  1.6933],
          [-0.7577, -0.8102, -0.8803,  ...,  1.7283,  1.7458,  1.7458]],

         [[-0.6890, -0.6018, -0.4973,  ...,  1.4548,  1.2282,  1.0714],
          [-0.7761, -0.6541, -0.4624,  ...,  1.3328,  1.3154,  1.2980],
          [-1.0027, -0.7936, -0.4973,  ...,  1.2282,  1.2805,  1.2980],
          ...,
          [-1.2990, -1.3513, -1.4210,  ...,  2.0300,  1.9603,  1.9080],
          [-1.3861, -1.4036, -1.4036,  ...,  2.0474,  1.9951,  1.9428],
          [-1.4559, -1.4210, -1.3513,  ...,  1.9951,  2.0125,  2.0125]]]),
 'Abyssinian')

In [10]:
from tools.data import create_dataloaders

In [11]:
train_loader, test_loader = create_dataloaders(
    data_transforms=transforms, 
    data_dir=img_dir, 
    batch_size=16, 
    num_workers=4, 
    train_file='data/annotations/trainval.txt', 
    test_file='data/annotations/test.txt', 
    shuffle={'train' : True, 'test' : False}, 
    test_batch_size=2)

***********************************************
**            DATASET SUMMARY                **
***********************************************
train  size::  3680  images
test  size::  3669  images
Number of classes::  37
***********************************************
[INFO] Created data loaders.

In [14]:
dirtrain_loader.dataset